<h1>
  {{title}}
</h1>

Программа реализует <a href="http://guides.rubyonrails.org/routing.html#crud-verbs-and-actions" target="_blank">5 основных из 7 базовых Ruby on Rails REST-действий</a> над простейшей сущностью ("Вопросы"):

1. Создать
2. Просмотреть
3. Обновить
4. Удалить
5. Просмотреть все.

<p></p>

Оставшиеся 2 действия (из 7 базовых):

6. Новый
7. Редактировать

не имеют смысла в данном случае (поскольку здесь применяется <a href="http://guides.rubyonrails.org/api_app.html" target="_blank">Ruby on Rails 5 в режиме API-only</a>) и потому не были реализованы.

В данной программе используется маршрутизация Angular 2 и всё поведение этой программы внешне стилизовано под работу обычного Ruby on Rails приложения.

<p></p>

Весь интерфейс взаимодействия Angular2 с Ruby on Rails 5 вынесен в отдельный Angular2-сервис (на стороне Angular2).

<simple-router></simple-router>